html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  margin-bottom: 50px;
}

.nav-links {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.element {
  margin-bottom: 50px;
  font-size: 0;
}

.main-link {
  display: inline-block;
  padding-left: 30px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
}

.nav-links:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.paragraph {
  margin: 0;
}

.heading1 {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.paragraph {
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.paragraph:not(:last-child) {
  margin-bottom: 40px;
}

.paragraph-bgd {
  display: inline-block;
  margin: 0;
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  background-color: #3f2aff;
  color: #fff;
}

.style {
  margin: 0;
}

.style:not(:last-child) {
  margin-bottom: 40px;
}

.section {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.section:not(:last-child) {
  margin-bottom: 40px;
}

.section1 {
  background-image: url("../img/decorate-1.png");
}

.section2 {
  background-image: url("../img/decorate-2.png");
}

.parent {
  margin: 0;
  width: 692px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.parent:not(:last-child) {
  margin-bottom: 10px;
}

.heading2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.heading3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.items {
  padding: 0;
  margin: 0;
  padding-left: 15px;
}

.link {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.list:not(:last-child) {
  margin-bottom: 20px;
}

.list::marker {
  color: #3f2aff;
}

.img:not(:last-child) {
  margin-bottom: 40px;
}

.figure {
  display: inline-block;
  margin: 0;
  width: 872px;
  font-size: 0;
}

.figcaption {
  border: 1px solid #b6b6b6;
  padding: 19px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.figure:not(:last-child) {
  margin-bottom: 40px;
}

.box {
  margin: 0 auto;
  padding: 50px 0px;
  width: 1170px;
  font-size: 0;
  background-color: #fff;
}

.mod-logo {
  display: block;
  margin-bottom: 25px;
  width: 137px;
}

.mod-link {
  display: inline-block;
  margin-bottom: 25px;
  padding-left: 52px;
  background-image: url('../img/arrow1.svg');
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3f2aff;
}

.main-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #3f2aff;
}

.title2-mod {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #3f2aff;
}

.parent-mod {
  margin: 0;
  padding: 0;
}

.paragraph-list {
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  color: #333;
}

.paragraph-mod {
  margin: 0;
}

.number_modules {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #eaeaea
}

.cards-item {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  background-color: #fff;
}

.card {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  width: 572px;
  height: 505px;
  vertical-align: top;
  padding-top: 205px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: #fff;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.card:nth-child(odd) {
  margin-right: 25px;
}

.img1-list {
  background-image: url('../img/photo-01.png');

}

.img2-list {
  background-image: url('../img/photo-02.png');
}

.img3-list {
  background-image: url('../img/photo-03.png');
}

.img4-list {
  background-image: url('../img/photo-04.png');
}

.button-section {
  text-align: center;
}

.button {
  padding: 23px 73px;
  border: 2px solid #3f2aff;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #3f2aff;
  background-color: #fff;
}